doctype html
html
  head
    title= title
  body
    h1 Add New Record

    form(action="/update-cobj" method="POST")

      div
        label(for="name") Name:
        input(type="text" name="name" required)

      br

      div
        label(for="author") Author:
        input(type="text" name="author" required)

      br

      div
        label(for="genre") Genre:
        input(type="text" name="genre" required)

      br

      button(type="submit") Submit

    br
    br

    a(href="/") Return to the homepage